.container{
  width: 1519px;
  margin: 0 auto;
  padding: 0;
}
.logo{
  width: 150px;
  margin-top: 20px;
  margin-left: 32px;
  
}
.sidebar{
  box-sizing: border-box;
  width: 270px;
  background-color: #173F77;
  align-items: center;
  /* max-height: 100%; */
  min-height: 720px;
}
.siteLogo{
  width: 200px;
  align-items: center;
}
.top_section{
  display: flex;  
  align-items: start;
  flex-direction: column;
}
  .link__text{
  color: white;
  font-size: 25px;
}
  
.links{
  text-decoration: none;
}  

.sidebarLink{
  /* margin: 10px 20px 10px 20px; */
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modall {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: start;
  justify-content: start;
  z-index: 9999;
} 

.modall-content {
  top: 0;
  left: 0;
  background-color: #fff;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

/* .modal-close:hover {
  background-color: #aaa;
} */

.modal-enter {
  opacity: 0;
  transform: scale(0.8);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
}
.tabletModalHeader{
  display: flex;
  justify-content:space-between ;
  align-items: center;
}
.tabletModalLogo{
  font-size: 20px;
}
.modal-close{
  background-color: white;
}
.tabletModalLink{
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 20px;
}
.routerContainer{
  display: flex;
  align-items: center;
  width: 1510px;
  margin: 0 auto;
  padding: 0;
  display: none;
}
.GiHamburgerMenu{
  color: #173F77;
  font-size: 30px;
  vertical-align: middle;
}

.hamburgerBtn{
  background-color: #fff;
  border: none;
  outline: none;
  width: 50px;height: 50px;
}

.routerContainerHeading{
  font-size: 25px;
  margin-left: 80px;
  color: #173F77;
}
.logout{
  width: 120px;
  border: none;
  background-color: #173F77;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 8px;
  margin-left: 15px;
}
.logoutPhone{
  width: 100px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 5px;
}

@media (max-width: 600px) {


}




